.DS_Store
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.code-workspace

data/raw/
data/processed/
results/*/intermediate/
results/*/tables/16_nested_cv_predictions.csv
tests/

*.csv.gz
*.tsv.gz
tmp/
*.swp
*~
CancerDependencyExplorer.Rproj
