.DS_Store
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.code-workspace

data/raw/
data/processed/
results/*/intermediate/
results/*/tables/16_nested_cv_predictions.csv
tests/

# Pre-defined hypotheses for new tests
config/*_biomarkers.yml

*.csv.gz
*.tsv.gz
tmp/
*.swp
*~
CancerDependencyExplorer.Rproj
